{% extends 'base.html' %}

{% block content %}

<section id="message">
  <div class="container">
    <div class="row">      
      <div class="col-md-10 col-md-offset-1 text-center">        
          <div class="col-md-12">
              <br>
              <h4 class="gray">
                <b><i>How To</i></b> de algumas linguagens de <b>programação</b>, frameworks, arquiteturas de <b>desenvolvimento</b> de <b>software</b> & <b>linux</b>.
                <br>
                <b>BIKE</b> também...
              </h4>                          
          </div>  
          <br><br><br><br>          
          <img src="{{ STATIC_URL }}img/bike.png" width="20%" alt="">
      </div>
    </div>
  </div>
</section>

{% endblock content %}
