{% extends 'base.html' %}

{% block content %}

<br><br><br><br><br><br><br><br>

<section id="message">
  <div class="container">
    <div class="row">      
      <div class="col-md-10 col-md-offset-1 text-center">
        <h4 class="gray">            
          <b>How To</b> para linguagens de programação, frameworks, e <b>desenvolvimento</b> de software e <b>linux</b> em geral!!!
        </h4>
      </div>
    </div>
  </div>
</section>

<section id="content">    
  <div class="content">
    <div class="row">
      <div class="col-md-5 col-md-offset-1 text-center">          
          
      </div>
    </div>      
  </div>
</section>



{% endblock content %}
