{% extends 'base.html' %}

{% block content %}

<section id="message">
  <div class="container">
    <div class="row">      
      <div class="col-md-12 text-center">
        
        <div class="col-md-8">
          <h4 class="gray">            
            How To para iniciantes em <b>Python</b> conhecerem de forma rápida alguns dos mais importantes aspectos da linguagem!!!
          </h4>          
        </div>        

        <div class="col-md-4">
          <img src="{{ STATIC_URL }}img/python-logo.png" width="50%" alt="">  
        </div>

    </div>
  </div>
</section>

<section id="content">    
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        
      </div>      
    </div>
  </div>
</section>



{% endblock content %}
