{% extends 'base.html' %}

{% block content %}

<section id="message">
  <div class="container">
    <div class="row">      
      <div class="col-md-12 text-center">
        
        <div class="col-md-8">
          <h4 class="gray">            
            How To para iniciantes em <b>Python</b> conhecerem de forma rápida alguns dos mais importantes aspectos da linguagem!!!
          </h4>          
        </div>        

        <div class="col-md-4">
          <img src="{{ STATIC_URL }}img/python-logo.png" width="50%" alt="">  
        </div>
    </div>
  </div>
</section>

<section id="content">
    <div class="container">      
      <div class="row margin-50">
        <div class="col-md-4">
          <h3 align="center"><span class="green">O começo de tudo</span></h3>
          <p class="gray">
            Nasceu em 1989 pelo Holandês Guido van Rossum no Instituto de Pesquisa Nacional para Matemática e Ciência da Computação (CWI) para ser a linguagem de script de um novo sistema operacional distribuído chamado Amoeba. Em 1991 Guido anexou o código fonte da linguagem em um grupo de discussão chamado alt.sources, isso mostra que desde sua primeira versão já estava presente o espírito colaborativo que temos ainda hoje.          
          </p>
          <br><br>
          <p align="center">
            <a class="btn-main" href="/pythonStart">Matéria completa</a>
          </p>
        </div>
        
        <div class="col-md-4">
          <h3 align="center"><span class="green">Primeiro programa</span></h3>
          <p class="gray">
            Python é uma linguagem multiplataforma nativa em Linux/Unix, e facilmente instalada em Windows. Não é necessário uma IDE para desenvolvimento, um bom editor de textos com sublime-text em conjunto com alguns plugins são suficientes para desenvolver bons softwares. Para fins de teste, o uso do próprio interpretador, sem a utilização de um editor de textos é indispensável, para usuários OSX existe um aplicativo chamado IPython como interpretador
          </p>
          <br><br>
          <p align="center">
            <a class="btn-main" href="/pythonFirst">Matéria completa</a>
          </p>          
        </div>
        
        <div class="col-md-4">
          <h3 align="center"><span class="green">Tipos de dados</span></h3>
          <p class="gray">
            Tudo em python é objeto, e sua filosofia vai além de outras linguagens de programação OO, todos os valores de dados no Python são encapsulados em classes de objetos, e tudo em um programa python é um objeto acessível a partir do programa. 
          </p>
          <br><br><br><br><br><br>
          <p align="center">
            <a class="btn-main" href="/pythonData">Matéria completa</a>
          </p> 
        </div> 
      </div>
      

      <div class="row margin-50">        

      </div>
      
    </div>
  </section>

{% endblock content %}
