{% extends 'base.html' %}

{% block content %}

    <section id="content">
      <div class="container">
        
        <div class="row margin-30">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="dark-gray">O começo de tudo</h1>
          </div>
        </div>
        
        <div class="row margin-50">
			<div class="col-md-12">
	            <div class="col-md-0"></div>
	            
	            <div class="col-md-12">
		            <p class="gray">
						Nasceu em 1989 pelo Holandês <b>Guido van Rossum</b> no Instituto de Pesquisa Nacional para Matemática e Ciência da Computação (CWI) para ser a linguagem de script de um novo sistema operacional distribuído chamado Amoeba. Em 1991 Guido anexou o código fonte da linguagem em um grupo de discussão chamado alt.sources, isso mostra que desde sua primeira versão já estava presente o espírito colaborativo que temos ainda hoje. Com isso Python nasceu com o software livre em seu sangue, e algumas das restrições impostas para o seu desenvolvimento era ser uma linguagem com sintaxe simples e de fácil aprendizado, isso para não ser necessário o uso de bash script e coisas do gênero e ainda sim poderoso o suficiente para descer o nível quando necessário, pois como seria utilizada para um novo sistema operacional o uso de uma linguagem com poder suficiente para controle do hardware era essencial.

						Python teve como inspiração a linguagem ABC, essa era uma linguagem que foi desenvolvida com propósitos educacionais, para ensinar a leigos e até crianças a terem o primeiro contato com o mundo da programação, isso teve um peso muito grande no desenvolvimento do python, sendo que hoje é uma das linguagens mais indicadas para iniciantes, pela sua sintaxe fácil e código explicito.

						Em 1994 foi formado o fórum de discussão comp.lang.python que teve grande importância para o crescimento da linguagem, nesse mesmo ano a versão 1.0 foi lançada, a versão 1.2 foi a última versão enquanto Guido estava na CWI. Em 2000 o time de desenvolvimento da linguagem mudou-se para BeOpen formando a PythonLabs. A Python Software Foundation, hoje mantenedora da linguagem foi criada em 2001 para ser um modelo parecido com a Apache Software Foundation. A versão 3.0 da linguagem já foi lançada, porém ouve quebras de compatibilidade com as versões 2.x para corrigir falhas que foram encontradas.
					</p> 
				</div> 

				<div class="col-md-0"></div>
			</div>
        </div>        
      </div>
    </section> 

{% endblock content %}